<div class="flex justify-center items-center min-h-screen bg-gray-100 dark:bg-gray-800">
  <div class="w-full max-w-lg h-[80%] p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-4">Edit User</h1>
    <%= render "form", user: @user %>
    <div class="mt-6">
      <%= link_to "Back to users", users_path, class: "inline-block text-blue-600 hover:underline" %>
    </div>
  </div>
</div>
